<launch>
  <arg name="namespace" default="/" />
  <group ns="$(arg namespace)">
  <node name="ar_pose" pkg="ar_pose" type="ar_multi" respawn="false"
    output="screen">
    <param name="marker_pattern_list" type="string"
      value="$(find ar_pose)/data/object_4x4"/>
    <param name="threshold" type="int" value="50"/>
    <param name="publish_tf" type="bool" value="false"/>
  </node>
  <node name="ar_location" pkg="ar_locating" type="star_center_position.py" respawn="false" output="screen">
  </node>
  </group>
</launch>